@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p></p>
        </div>
    </section>
}

 <script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {

                // create our popcorn instance
                var pop = Popcorn.youtube("#youtube", "http://www.youtube.com/watch?v=Phr_DF4eoYE");

                pop.footnote({
                    start: 1,
                    end: 100,
                    text: "Youtube working!<br />",
                    target: "footnote"
                });

                pop.footnote({
                    start: 4,
                    end: 100,
                    text: "Youtube working again!",
                    target: "footnote"
                });

                pop.footnote({
                    start: 7,
                    end: 100,
                    text: "Youtube working yet again!",
                    target: "footnote"
                });

                pop.wikipedia({
                    start: 1,
                    end: 50,
                    src: "http://en.wikipedia.org/wiki/Elearning",
                    title: "E-learning",
                    target: "wikipedia",
                    numberofwords: 58
                });

                pop.play();

            }, false);
       </script>
    <div id="youtube" style="width:600px;height:400px;background-color:Red; float:left;"></div>
    <div id="wikipedia" style="width:298px; height:378px; border: 1px solid black; padding:10px; float:right; overflow:hidden;"><img src="Images/Wikipedia-Logo.png" alt="wikipedia logo" height="54" width="174" style="margin-left: 50px; margin-bottom: 20px;" /><br /></div>
    <div id="footnote" style="width:600px; float:left;"><br /></div>​
    <div id="transcript" style="width:600px; float:left;"></div>
    <br /><br />