

 <script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
 <script src="Scripts/EasyCaptions.js"></script>
 <script src="Scripts/mootools-core-1.4.5-full-nocompat.js"></script>       
    <h2 style="height: 35px; width: 100px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center;">Video</h2>
    <video id="youtube" autobuffer controls style="width: 598px; height: 398px; border: 1px solid #999; float: left; box-shadow: 10px 10px 15px #ddd; margin-bottom: 30px; margin-top:0px;">
        <source src="Videos/video.mp4" type="video/mp4">
    </video>
    <h2 style="height: 35px; width: 150px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center; float: left; margin-left: 40px; margin-top: -45px;">Wikipedia</h2>
    <div id="wikipedia" style=" width:298px; height:388px; border: 1px solid #999; padding:10px; padding-top:0px; float:right; overflow:hidden; box-shadow: 10px 10px 15px #ddd;">
        
        <br />
    </div>
    <div style="width:150px;"><h2 style="height: 35px; width: 150px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center; margin-top: 425px;">Transcript</h2></div>
    <div id="footnote" style="width:578px; height:219px; float:left; border: 1px solid #999; padding: 10px; margin-top: 0px; box-shadow: 10px 10px 15px #ddd; overflow-y:scroll; "></div>​
    <h2 style="height: 35px; width: 200px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center; float: left; margin-left: 40px; margin-top: -45px;">Google Maps</h2>
    <div id="googlemaps" style=" width:298px; height: 219px; border:1px solid #999; float: left; padding: 10px; margin-left: 40px; box-shadow: 10px 10px 15px #ddd; margin-top: -19px;"></div>
    <h2 style="width:578px; margin-top: 230px; font-size: 14px; color: #888; text-align: center;">( click to jump back )</h2>

<script>
            document.addEventListener("DOMContentLoaded", function () {

                // create our popcorn instance
                var pop = Popcorn('#youtube', {pauseOnLinkClicked:true});
                
                pop.footnote({
                    start: 2,
                    end: 288,
                    text: '<span data-begin="2">00:02 - so how does the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> work</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 4,
                    end: 288,
                    text: '<span data-begin="4">00:04 - most of us know how to use the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> without actually understanding how it</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 8,
                    end: 288,
                    text: '<span data-begin="8">00:08 - works sort of like <a href="http://en.wikipedia.org/wiki/Electricity" target="_blank">electricity</a> in your home</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 11,
                    end: 288,
                    text: '<span data-begin="11">00:11 - you use that every day but may not understand the mechanics behind it</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 14,
                    end: 288,
                    text: '<span data-begin="14">00:14 - and if the <a href="http://en.wikipedia.org/wiki/Electric_grid" target="_blank">electric grid</a> is difficult to understand in the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> must be</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 18,
                    end: 288,
                    text: '<span data-begin="18">00:18 - impossible right</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 21,
                    end: 288,
                    text: '<span data-begin="21">00:21 - in the next few minutes i\'ll put you in the top ten percent of people who</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 24,
                    end: 288,
                    text: '<span data-begin="24">00:24 - understand how the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> actually works</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 27,
                    end: 288,
                    text: '<span data-begin="27">00:27 - for security catalyst dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 29,
                    end: 288,
                    text: '<span data-begin="29">00:29 - i\'m erin titus</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 31,
                    end: 288,
                    text: '<span data-begin="31">00:31 - whenever most people think of the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> this is what comes to mind</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 35,
                    end: 288,
                    text: '<span data-begin="35">00:35 - the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> is not a bubble cloud</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 38,
                    end: 288,
                    text: '<span data-begin="38">00:38 - even in the new age of <a href="http://en.wikipedia.org/wiki/Cloud_computing" target="_blank">cloud computing</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 40,
                    end: 288,
                    text: '<span data-begin="40">00:40 - the whole fuzzy cloud picture was created by people more concerned about</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 44,
                    end: 288,
                    text: '<span data-begin="44">00:44 - job security</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 45,
                    end: 288,
                    text: '<span data-begin="45">00:45 - than education</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 47,
                    end: 288,
                    text: '<span data-begin="47">00:47 - this is the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 49,
                    end: 288,
                    text: '<span data-begin="49">00:49 - the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> is a wire actually buried in the ground</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 52,
                    end: 288,
                    text: '<span data-begin="52">00:52 - it might be <a href="http://en.wikipedia.org/wiki/Fiber_optics" target="_blank">fiber optics</a> copper</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 54,
                    end: 288,
                    text: '<span data-begin="54">00:54 - or occasionly beam to satelites are through <a href="http://en.wikipedia.org/wiki/Cell_phone" target="_blank">cell phone</a> networks</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 58,
                    end: 288,
                    text: '<span data-begin="58">00:58 - but the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> is simply a wire</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 61,
                    end: 288,
                    text: '<span data-begin="61">01:01 - the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> is useful because to <a href="http://en.wikipedia.org/wiki/Computers" target="_blank">computers</a> connected directly to this</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 64,
                    end: 288,
                    text: '<span data-begin="64">01:04 - wire can communicate</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 66,
                    end: 288,
                    text: '<span data-begin="66">01:06 - a <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">server</a> is a special <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a> connected directly to the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 70,
                    end: 288,
                    text: '<span data-begin="70">01:10 - and <a href="http://en.wikipedia.org/wiki/Web_pages" target="_blank">web pages</a> or files on that <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">servers</a> <a href="http://en.wikipedia.org/wiki/Hard_drives" target="_blank">hard drives</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 74,
                    end: 288,
                    text: '<span data-begin="74">01:14 - every <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">server</a> has a unique <a href="http://en.wikipedia.org/wiki/Internet_protocol_address" target="_blank">internet protocol address</a> or high p_ address</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 78,
                    end: 288,
                    text: '<span data-begin="78">01:18 - just like a postal adress</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 80,
                    end: 288,
                    text: '<span data-begin="80">01:20 - i p addresses help <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computers</a> find each other</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 83,
                    end: 288,
                    text: '<span data-begin="83">01:23 - but since seven to dot fourteen dot</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 85,
                    end: 288,
                    text: '<span data-begin="85">01:25 - two oh five done one hundred it doesn\'t exactly roll off the tongue we also give</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 89,
                    end: 288,
                    text: '<span data-begin="89">01:29 - the names like <a href="http://en.wikipedia.org/wiki/Google" target="_blank">google</a> dot com <a href="http://en.wikipedia.org/wiki/Facebook" target="_blank">facebook</a> dot com or security catalyst dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 95,
                    end: 288,
                    text: '<span data-begin="95">01:35 - so if this is how it works</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 97,
                    end: 288,
                    text: '<span data-begin="97">01:37 - your <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a> at home is not a <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">server</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 100,
                    end: 288,
                    text: '<span data-begin="100">01:40 - because it\'s not connected directly to the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 103,
                    end: 288,
                    text: '<span data-begin="103">01:43 - <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computers</a> you and i use everyday recalled <a href="http://en.wikipedia.org/wiki/Client_(Computing)" target="_blank">clients</a> because they\'re</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 106,
                    end: 288,
                    text: '<span data-begin="106">01:46 - connected indirectly to the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> touring <a href="http://en.wikipedia.org/wiki/Internet_service_provider" target="_blank">internet service provider</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 110,
                    end: 288,
                    text: '<span data-begin="110">01:50 - here will pretend that this is my home <a href="http://en.wikipedia.org/wiki/Laptop" target="_blank">laptop</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 113,
                    end: 288,
                    text: '<span data-begin="113">01:53 - and i\'m using d_s_l_</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 115,
                    end: 288,
                    text: '<span data-begin="115">01:55 - now let\'s pretend that i want to visit they\'ll well dot com which is</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 118,
                    end: 288,
                    text: '<span data-begin="118">01:58 - coincidently</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 119,
                    end: 288,
                    text: '<span data-begin="119">01:59 - both a <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">server</a> and and i a speedy</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 121,
                    end: 288,
                    text: '<span data-begin="121">02:01 - i hop onto my <a href="http://en.wikipedia.org/wiki/Laptop" target="_blank">laptop</a> with the s_l_</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 124,
                    end: 288,
                    text: '<span data-begin="124">02:04 - go through my eye espy onto the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 126,
                    end: 288,
                    text: '<span data-begin="126">02:06 - and look at annual well dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 128,
                    end: 288,
                    text: '<span data-begin="128">02:08 - my <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a> connects with a oh well dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 130,
                    end: 288,
                    text: '<span data-begin="130">02:10 - and i can look as <a href="http://en.wikipedia.org/wiki/Web_pages" target="_blank">web pages</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 133,
                    end: 288,
                    text: '<span data-begin="133">02:13 - now let\'s say that i want to send an <a href="http://en.wikipedia.org/wiki/Email" target="_blank">email</a> to andrew</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 137,
                    end: 288,
                    text: '<span data-begin="137">02:17 - and ruth has they\'ll well <a href="http://en.wikipedia.org/wiki/Dial-up" target="_blank">dial-up</a> from home and i\'ve got a <a href="http://en.wikipedia.org/wiki/gmail" target="_blank">gmail</a> account</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 142,
                    end: 288,
                    text: '<span data-begin="142">02:22 - i log onto <a href="http://en.wikipedia.org/wiki/gmail" target="_blank">gmail</a> dot com and compose a message to add roots <a href="http://en.wikipedia.org/wiki/Email_address" target="_blank">email address</a> and</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 147,
                    end: 288,
                    text: '<span data-begin="147">02:27 - fruit that uh... well dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 150,
                    end: 288,
                    text: '<span data-begin="150">02:30 - once i click send</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 151,
                    end: 288,
                    text: '<span data-begin="151">02:31 - <a href="http://en.wikipedia.org/wiki/Gmail" target="_blank">gmail</a> dot com since the <a href="http://en.wikipedia.org/wiki/Email" target="_blank">email</a> to fail well dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 154,
                    end: 288,
                    text: '<span data-begin="154">02:34 - the next day aunt ruth dials into a loyal <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">servers</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 158,
                    end: 288,
                    text: '<span data-begin="158">02:38 - and retrieves the <a href="http://en.wikipedia.org/wiki/Email" target="_blank">email</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 161,
                    end: 288,
                    text: '<span data-begin="161">02:41 - whenever an <a href="http://en.wikipedia.org/wiki/Email" target="_blank">email</a> picture or <a href="http://en.wikipedia.org/wiki/Webpage" target="_blank">webpage</a> travels across the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start:  165,
                    end: 288,
                    text: '<span data-begin="165">02:45 - <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computers</a> break the information into smaller pieces called packets</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 169,
                    end: 288,
                    text: '<span data-begin="169">02:49 - when information reaches its destination the packets are reassembled in their</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 172,
                    end: 288,
                    text: '<span data-begin="172">02:52 - original order</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 173,
                    end: 288,
                    text: '<span data-begin="173">02:53 - to make a picture <a href="http://en.wikipedia.org/wiki/Email" target="_blank">email</a> <a href="http://en.wikipedia.org/wiki/Webpage" target="_blank">webpage</a> or tweet</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 179,
                    end: 288,
                    text: '<span data-begin="179">02:59 - okay so imagine you\'re at work sitting next year box</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 182,
                    end: 288,
                    text: '<span data-begin="182">03:02 - and you\'re both surfing <a href="http://en.wikipedia.org/wiki/Online" target="_blank">online</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 184,
                    end: 288,
                    text: '<span data-begin="184">03:04 - your boss is doing market research and your updating your face book profile</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 189,
                    end: 288,
                    text: '<span data-begin="189">03:09 - you\'re both sending packets back-and-forth over the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 192,
                    end: 288,
                    text: '<span data-begin="192">03:12 - but what\'s to keep your packets from accidentally ending up on your bosses</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 196,
                    end: 288,
                    text: '<span data-begin="196">03:16 - screen</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 197,
                    end: 288,
                    text: '<span data-begin="197">03:17 - that could be embarrassing</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 199,
                    end: 288,
                    text: '<span data-begin="199">03:19 - the solution to that problem is ita dresses and <a href="http://en.wikipedia.org/wiki/Router_(computing)" target="_blank">routers</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 204,
                    end: 288,
                    text: '<span data-begin="204">03:24 - everything connected directly or</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 205,
                    end: 288,
                    text: '<span data-begin="205">03:25 - indirectly to the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> has a nike address</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 208,
                    end: 288,
                    text: '<span data-begin="208">03:28 - everything</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 209,
                    end: 288,
                    text: '<span data-begin="209">03:29 - that includes your <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a> <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">servers</a> <a href="http://en.wikipedia.org/wiki/Cellphones" target="_blank">cellphones</a> and all of the equipment in</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 213,
                    end: 288,
                    text: '<span data-begin="213">03:33 - between</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 215,
                    end: 288,
                    text: '<span data-begin="215">03:35 - anywhere two or more parts of the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> intersect</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 217,
                    end: 288,
                    text: '<span data-begin="217">03:37 - there\'s a piece of equipment called a <a href="http://en.wikipedia.org/wiki/Router_(computing)" target="_blank">router</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 221,
                    end: 288,
                    text: '<span data-begin="221">03:41 - <a href="http://en.wikipedia.org/wiki/Router_(computing)" target="_blank">routers</a> director packets around the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 223,
                    end: 288,
                    text: '<span data-begin="223">03:43 - helping each packet get one step closer to its destination</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 227,
                    end: 288,
                    text: '<span data-begin="227">03:47 - every time you visit a <a href="http://en.wikipedia.org/wiki/Website" target="_blank">website</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 228,
                    end: 288,
                    text: '<span data-begin="228">03:48 - upwards of ten to fifteen routers may help your packets find their way to and</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 232,
                    end: 288,
                    text: '<span data-begin="232">03:52 - from your <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 234,
                    end: 288,
                    text: '<span data-begin="234">03:54 - imagine each packet as a piece of candy wrapped in several layers</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 238,
                    end: 288,
                    text: '<span data-begin="238">03:58 - the first layer is your <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a>\'s i p address</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 241,
                    end: 288,
                    text: '<span data-begin="241">04:01 - your <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a> since the packet to the first <a href="http://en.wikipedia.org/wiki/Router_(computing)" target="_blank">router</a> which adds it\'s own akki</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 245,
                    end: 288,
                    text: '<span data-begin="245">04:05 - address</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 246,
                    end: 288,
                    text: '<span data-begin="246">04:06 - each time the packet reaches a new browser another layer as added until it</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 250,
                    end: 288,
                    text: '<span data-begin="250">04:10 - reaches the <a href="http://en.wikipedia.org/wiki/Server_(computing)" target="_blank">server</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 252,
                    end: 288,
                    text: '<span data-begin="252">04:12 - then when the server sends back information he creates packets with an</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 256,
                    end: 288,
                    text: '<span data-begin="256">04:16 - identical wrapping</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 257,
                    end: 288,
                    text: '<span data-begin="257">04:17 - as a packet makes its way over the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> back your <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a> each <a href="http://en.wikipedia.org/wiki/Router_(computing)" target="_blank">router</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 261,
                    end: 288,
                    text: '<span data-begin="261">04:21 - unwrap sawyer</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 262,
                    end: 288,
                    text: '<span data-begin="262">04:22 - to discover with us in the packet next until it reaches your <a href="http://en.wikipedia.org/wiki/Computer" target="_blank">computer</a> and not</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 266,
                    end: 288,
                    text: '<span data-begin="266">04:26 - your bosses</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 269,
                    end: 288,
                    text: '<span data-begin="269">04:29 - and that\'s how the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> works in five minutes or less and you know easily</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 272,
                    end: 288,
                    text: '<span data-begin="272">04:32 - in the top ten percent of people who understand the basics of the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a></span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 277,
                    end: 288,
                    text: '<span data-begin="277">04:37 - if you found this video helpful checkout security catalyst dot com for all kinds</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 280,
                    end: 288,
                    text: '<span data-begin="280">04:40 - of ideas</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 281,
                    end: 288,
                    text: '<span data-begin="281">04:41 - on how to protect your information</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 284,
                    end: 288,
                    text: '<span data-begin="284">04:44 - i\'m aaron types</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.wikipedia({
                    start: 3,
                    end: 9,
                    src: "http://en.wikipedia.org/wiki/Internet",
                    title: "Internet",
                    target: "wikipedia",
                    numberofwords: 100
                });

                pop.wikipedia({
                    start: 9,
                    end: 11,
                    src: "http://en.wikipedia.org/wiki/Electricity",
                    title: "Electricity",
                    target: "wikipedia",
                    numberofwords: 100
                });

                pop.wikipedia({
                    start: 11,
                    end: 15,
                    src: "http://en.wikipedia.org/wiki/Mechanics",
                    title: "Mechanics",
                    target: "wikipedia",
                    numberofwords: 100
                });

                pop.wikipedia({
                    start: 15,
                    end: 288,
                    src: "http://en.wikipedia.org/wiki/Internet",
                    title: "Internet",
                    target: "wikipedia",
                    numberofwords: 100
                });

            }, false);

            var easy = new EasyCaptions({
                videoElementID: "youtube",
                transcriptElementID: "footnote"
            });

            (function () {
                var element = document.getElementById("footnote");
                var lastHeight = element.scrollHeight;
                function detectChange() {
                    var currentHeight = element.scrollHeight;
                    if (lastHeight != currentHeight) {
                        element.scrollTop = currentHeight;
                        lastHeight = currentHeight;
                    }
                }
                detectChange();
                setInterval(detectChange, 200); //Checks each 200ms = 5 times a second
            })();

       </script>