

 <script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
 <script src="Scripts/EasyCaptions.js"></script>
 <script src="Scripts/mootools-core-1.4.5-full-nocompat.js"></script>       
    <h2 style="height: 35px; width: 100px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center;">Video</h2>
    <video id="youtube" controls style="width: 598px; height: 398px; border: 1px solid #999; float: left; box-shadow: 10px 10px 15px #ddd; margin-bottom: 30px; margin-top:0px;">
        <source src="~/Videos/video.mp4" type="video/mp4">
    </video>
    <h2 style="height: 35px; width: 150px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center; float: left; margin-left: 40px; margin-top: -45px;">Wikipedia</h2>
    <div id="wikipedia" style=" width:298px; height:388px; border: 1px solid #999; padding:10px; padding-top:0px; float:right; overflow:hidden; box-shadow: 10px 10px 15px #ddd;">
        
        <br />
    </div>
    <div style="width:150px;"><h2 style="height: 35px; width: 150px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center; margin-top: 425px;">Transcript</h2></div>
    <div id="footnote" style="width:578px; height:219px; float:left; border: 1px solid #999; padding: 10px; margin-top: 0px; box-shadow: 10px 10px 15px #ddd; overflow-y:scroll; "></div>​
    <h2 style="height: 35px; width: 200px; color: #808080; background-color: #eee; padding: 5px; border: 1px solid #bbb; border-bottom: none; text-align: center; float: left; margin-left: 40px; margin-top: -45px;">Google Maps</h2>
    <div id="googlemaps" style=" width:298px; height: 219px; border:1px solid #999; float: left; padding: 10px; margin-left: 40px; box-shadow: 10px 10px 15px #ddd; margin-top: -19px;"></div>
    <h2 style="width:578px; margin-top: 230px; font-size: 14px; color: #888; text-align: center;">( click to jump back )</h2>

<script>
            document.addEventListener("DOMContentLoaded", function () {

                // create our popcorn instance
                var pop = Popcorn('#youtube', {pauseOnLinkClicked:true});
                
                pop.footnote({
                    start: 2,
                    end: 288,
                    text: '<span data-begin="2">00:02 - so how does the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> work</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 4,
                    end: 288,
                    text: '<span data-begin="4">00:04 - most of us know how to use the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> without actually understanding how it</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 8,
                    end: 288,
                    text: '<span data-begin="8">00:08 - works sort of like <a href="http://en.wikipedia.org/wiki/Electricity" target="_blank">electricity</a> in your home</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 11,
                    end: 288,
                    text: '<span data-begin="11">00:11 - you use that every day but may not understand the <a href="http://en.wikipedia.org/wiki/Mechanics" target="_blank">mechanics</a> behind it</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 14,
                    end: 288,
                    text: '<span data-begin="14">00:14 - and if the electric grid is difficult to understand in the <a href="http://en.wikipedia.org/wiki/Internet" target="_blank">internet</a> must be</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 18,
                    end: 288,
                    text: '<span data-begin="18">00:18 - impossible right</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 21,
                    end: 288,
                    text: '<span data-begin="21">00:21 - in the next few minutes i\'ll put you in the top ten percent of people who</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 24,
                    end: 288,
                    text: '<span data-begin="24">00:24 - understand how the <a href="http://en.wikipedia.org/wiki/Internet">internet</a> actually works</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 27,
                    end: 288,
                    text: '<span data-begin="27">00:27 - for security catalyst dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 29,
                    end: 288,
                    text: '<span data-begin="29">00:29 - i\'m erin titus</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 31,
                    end: 288,
                    text: '<span data-begin="31">00:31 - whenever most people think of the internet this is what comes to mind</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 35,
                    end: 288,
                    text: '<span data-begin="35">00:35 - the internet is not a bubble cloud</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 38,
                    end: 288,
                    text: '<span data-begin="38">00:38 - even in the new age of cloud computing</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 40,
                    end: 288,
                    text: '<span data-begin="40">00:40 - the whole fuzzy cloud picture was created by people more concerned about</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 44,
                    end: 288,
                    text: '<span data-begin="44">00:44 - job security</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 45,
                    end: 288,
                    text: '<span data-begin="45">00:45 - than education</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 47,
                    end: 288,
                    text: '<span data-begin="47">00:47 - this is the internet</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 49,
                    end: 288,
                    text: '<span data-begin="49">00:49 - the imtermet is a wire actually buried in the ground</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 52,
                    end: 288,
                    text: '<span data-begin="52">00:52 - it might be fiber optics copper</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 54,
                    end: 288,
                    text: '<span data-begin="54">00:54 - or occasionly beam to satelites are through cell phone networks</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 58,
                    end: 288,
                    text: '<span data-begin="58">00:58 - but the internet is simply a wire</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 61,
                    end: 288,
                    text: '<span data-begin="61">01:01 - the internet is useful because to computers connected directly to this</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 64,
                    end: 288,
                    text: '<span data-begin="64">01:04 - wire can communicate</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 66,
                    end: 288,
                    text: '<span data-begin="66">01:06 - a server is a special computer connected directly to the internet</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 70,
                    end: 288,
                    text: '<span data-begin="70">01:10 - and web pages or files on that servers hard drives</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 74,
                    end: 288,
                    text: '<span data-begin="74">01:14 - every server has a unique internet protocol address or high p_ address</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 78,
                    end: 288,
                    text: '<span data-begin="78">01:18 - just like a postal adress</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 80,
                    end: 288,
                    text: '<span data-begin="80">01:20 - i p addresses help computers find each other</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 83,
                    end: 288,
                    text: '<span data-begin="83">01:23 - but since seven to dot fourteen dot</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 85,
                    end: 288,
                    text: '<span data-begin="85">01:25 - two oh five done one hundred it doesn\'t exactly roll off the tongue we also give</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 89,
                    end: 288,
                    text: '<span data-begin="89">01:29 - the names like google dot com facebook dot com or security catalyst dot com</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 95,
                    end: 288,
                    text: '<span data-begin="95">01:35 - so if this is how it works</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 97,
                    end: 288,
                    text: '<span data-begin="97">01:37 - your computer at home is not a server</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 100,
                    end: 288,
                    text: '<span data-begin="100">01:40 - because it\'s not connected directly to the internet</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 103,
                    end: 288,
                    text: '<span data-begin="103">01:43 - computers you and i use everyday recalled clients because they\'re</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 106,
                    end: 288,
                    text: '<span data-begin="106">01:46 - connected indirectly to the internet touring internet service provider</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.footnote({
                    start: 110,
                    end: 288,
                    text: '<span data-begin="110">01:50 - here will pretend that this is my home laptop</span><br /><script>mtFx.toBottom();',
                    target: "footnote"
                });

                pop.wikipedia({
                    start: 3,
                    end: 9,
                    src: "http://en.wikipedia.org/wiki/Internet",
                    title: "Internet",
                    target: "wikipedia",
                    numberofwords: 100
                });

                pop.wikipedia({
                    start: 9,
                    end: 11,
                    src: "http://en.wikipedia.org/wiki/Electricity",
                    title: "Electricity",
                    target: "wikipedia",
                    numberofwords: 100
                });

                pop.wikipedia({
                    start: 11,
                    end: 15,
                    src: "http://en.wikipedia.org/wiki/Mechanics",
                    title: "Mechanics",
                    target: "wikipedia",
                    numberofwords: 100
                });

                pop.wikipedia({
                    start: 15,
                    end: 288,
                    src: "http://en.wikipedia.org/wiki/Internet",
                    title: "Internet",
                    target: "wikipedia",
                    numberofwords: 100
                });

            }, false);

            var easy = new EasyCaptions({
                videoElementID: "youtube",
                transcriptElementID: "footnote"
            });

            (function () {
                var element = document.getElementById("footnote");
                var lastHeight = element.scrollHeight;
                function detectChange() {
                    var currentHeight = element.scrollHeight;
                    if (lastHeight != currentHeight) {
                        element.scrollTop = currentHeight;
                        lastHeight = currentHeight;
                    }
                }
                detectChange();
                setInterval(detectChange, 200); //Checks each 200ms = 5 times a second
            })();

       </script>