

 <script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {

                // create our popcorn instance
                var pop = Popcorn.youtube("#youtube", "http://www.youtube.com/watch?v=Phr_DF4eoYE");

                pop.footnote({
                    start: 1,
                    end: 100,
                    text: "Youtube working!<br />",
                    target: "footnote"
                });

                pop.footnote({
                    start: 4,
                    end: 100,
                    text: "Youtube working again!",
                    target: "footnote"
                });

                pop.footnote({
                    start: 7,
                    end: 100,
                    text: "Youtube working yet again!",
                    target: "footnote"
                });

                pop.wikipedia({
                    start: 1,
                    end: 50,
                    src: "http://en.wikipedia.org/wiki/Elearning",
                    title: "E-learning",
                    target: "wikipedia",
                    numberofwords: 58
                });

                pop.play();

            }, false);
       </script>
    <h2 style="width: 150px; color: #84b7f6">[ Video ]</h2>
    <div id="youtube" style="width: 598px; height: 398px; border: 1px solid black; float: left; box-shadow: 10px 10px 15px #ddd; margin-bottom: 30px; margin-top:20px;"></div>
    <img src="Images/Wikipedia-Logo.png" alt="wikipedia logo" height="54" width="174" style="background-color: #ddd; margin-left: 100px; margin-bottom: 5px; margin-top: -57px;" />
    <div id="wikipedia" style=" width:298px; height:388px; border: 1px solid black; padding:10px; padding-top:0px; float:right; overflow:hidden; box-shadow: 10px 10px 15px #ddd;">
        
        <br />
    </div>
    <h2 style="width: 150px; color: #84b7f6">[ Transcript ]</h2>
    <div id="footnote" style="width:578px; height:319px; float:left; border: 1px solid black; padding: 10px; margin-top: 20px; box-shadow: 10px 10px 15px #ddd;"></div>​
    <img src="Images/Google-Maps-Logo.jpg" alt="google maps logo" height="54" width="174" style="margin-left: 110px; margin-bottom: 5px; margin-top: -42px;" />
    <div id="googlemaps" style="width:298px; height: 319px; border:1px solid black; float: left; padding: 10px; margin-left: 40px; box-shadow: 10px 10px 15px #ddd;"></div>